<form action="/Category/AddCategory" method="post">
    <div class=" input-group row col-md-4">
        <label for="CategoryName">Category name: </label>
        <input type="text" style="position:relative;left:20px;" id="CategoryName" class="form-control" name="CategoryName" value="" />
    </div>
    <br />
    <input type="submit" class="row col-md-2 input-group btn btn-primary"  value="Add" />
</form>